<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EZ - Password</title>
    <link rel="stylesheet" href="./view/css/access.css">
</head>
<body>
    <div class="container-login">
    <form method="post" action="/blog/controller/access.php">
        <label for="">Senha</label>
        <input name="accessPassword" class="input" type="password" required>
        <input class="button" type="submit">
    </form>
    </div>
</body>
</html>